In [1]:
print("hello")

hello

In [2]:
print("hello")
print("world")

hello
world

In [4]:
print("hello",end=" ")
print("world")

hello world

In [7]:
print("welcome","to","coding","blocks",sep="   ")

welcome   to   coding   blocks

Data Types

In [8]:
a=1
b=5.5
c=True
d=3+5j
e="Hello World"

print("{} is of type {}".format(a,type(a)),
      "{} is of type {}".format(b,type(b)),
      "{} is of type {}".format(c,type(c)),
      "{} is of type {}".format(d,type(d)),
      "{} is of type {}".format(e,type(e)),sep="\n")

1 is of type <class 'int'>
5.5 is of type <class 'float'>
True is of type <class 'bool'>
(3+5j) is of type <class 'complex'>
Hello World is of type <class 'str'>

In [9]:
print(id(a))
print(id(b))

4513025024
4548445576

In [10]:
b=a
print(id(b))
print(id(a))

4513025024
4513025024

In [13]:
a=1
print(a)
a=a+1
print(a)
#a++
a+=1
print(a)

1
2
3

In [14]:
a=input("Enter the number")

Enter the number10

In [15]:
print(a)

10

In [16]:
print(a+"hello")

10hello

In [17]:
print("hello"+a)

hello10

In [18]:
a=(int)(input("enter number"))

enter number34

In [19]:
print("hello"+a)

TypeError: can only concatenate str (not "int") to str

In [20]:
print("hello"+str(a))

hello34

In [22]:
sub=input("enter your sub")
if sub=="ml":
    print("i am a ml student")
elif sub=="dl":
    print("i am a dl student")
else:
    print("i dont belong here")

enter your submaths
i dont belong here

In [23]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [26]:
for i in range(3,10):
    print(i)

3
4
5
6
7
8
9

In [25]:
i=1;
while i<=10:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

In [27]:
print(1+2)
print(1-2)
print(1*2)
print(1/2)
print(5//2) #Floor Division
print(3**4)

3
-1
2
0.5
2
81

In [28]:
for i in range(10):
    print(" "*(10-i),end="")
    for j in range(i+1):
        print(j,end="")
    print(end="\n")

          0
         01
        012
       0123
      01234
     012345
    0123456
   01234567
  012345678
 0123456789

In [1]:
for i in range(10):
    print(" "*(10-i),end="")
    for j in range(i+1):
        print(j,end="")
    print(end="\n")

          0
         01
        012
       0123
      01234
     012345
    0123456
   01234567
  012345678
 0123456789

Functions

In [2]:
def hello():
    print("hello")

In [3]:
hello()

hello

In [4]:
def funwithargs(name):
    print(name)

In [6]:
funwithargs("Rishab")

Rishab

In [7]:
def funwithmoreargs(a=100,b=200,c=300):
    print(a)
    print(b)
    print(c)

In [8]:
funwithmoreargs(10,20,30)

10
20
30

In [9]:
funwithmoreargs(b=30,c=10,a=40)

40
30
10

In [12]:
def fact(n):
    if n==0 or n==1:
        return 1
    return n*fact(n-1)
fact(5)

120

In [11]:
1 is not 1

False

In [13]:
1==1.0

True

In [14]:
1==1.5

False

In [15]:
1=="1"

False

# Data Structures

In [16]:
a=[]
print(a)
print(type(a))

[]
<class 'list'>

In [17]:
a=[10,20,30,40]
print(a)

[10, 20, 30, 40]

In [18]:
print(a[2])

30

In [19]:
print(len(a))

4

In [23]:
for i in range(len(a)):
    print(a[i])

10
20
30
40

In [24]:
for i in a:
    print(i)

10
20
30
40

In [26]:
a=[31,21,15,75,84]
print(a)
a.sort() #inplace
print(a)

b=[30,12,24,15]
print("*************************")
print(b)
c=sorted(b) #it will return a new list
print(b)
print(c)

[31, 21, 15, 75, 84]
[15, 21, 31, 75, 84]
*************************
[30, 12, 24, 15]
[30, 12, 24, 15]
[12, 15, 24, 30]

In [27]:
a=[10,20,30,40,50,60]
a[:2]

[10, 20, 30]

In [29]:
a=[30,20,40,10]
c=sorted(a)

In [30]:
a=[10,20,30,40,50,60]
a[:3]

[10, 20, 30]

In [31]:
a[:]

[10, 20, 30, 40, 50, 60]

In [32]:
a[:10]

[10, 20, 30, 40, 50, 60]

In [33]:
a[-1]

60

In [34]:
a[::2]

[10, 30, 50]

In [35]:
a[-1::-1]

[60, 50, 40, 30, 20, 10]

In [36]:
s="       Hello  World     "
print(s)

       Hello  World

In [37]:
s.strip()

'Hello  World'

In [38]:
s.lstrip()

'Hello  World     '

In [39]:
s.rstrip()

'       Hello  World'

In [44]:
s="Machine Learning"

In [46]:
print(s)
print(s[3])
print(s[:5])
print(s[-1::-1])

Machine Learning
h
Machi
gninraeL enihcaM

In [54]:
a=[10,20,30,40,50]
a.append(60)
a.remove(40)
#a.remove(40)
print(a)
a.insert(2,100)
print(a)

[10, 20, 30, 50, 60]
[10, 20, 100, 30, 50, 60]

# dictionaries

In [56]:
a={}
print(a)
print(type(a))

{}
<class 'dict'>

In [57]:
a={"name":"Rishab","age":27}

In [58]:
print(a)

{'name': 'Rishab', 'age': 27}

In [59]:
a.keys()

dict_keys(['name', 'age'])

In [60]:
a.values()

dict_values(['Rishab', 27])

In [62]:
for i in a:
    print("key is {} and value is {}".format(i,a[i]))

key is name and value is Rishab
key is age and value is 27

In [63]:
a["name"]

'Rishab'

In [65]:
#a["school"]

In [66]:
a["school"]="coding blocks"

In [67]:
print(a)

{'name': 'Rishab', 'age': 27, 'school': 'coding blocks'}

In [73]:
t=(1,2,30,4,5)
print(t)
print(type(t))

(1, 2, 30, 4, 5)
<class 'tuple'>

In [74]:
t[2]=10

TypeError: 'tuple' object does not support item assignment

In [75]:
t.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [76]:
c=sorted(t)
print(c)

[1, 2, 4, 5, 30]

In [77]:
a,b,c,d,e=t
print(a)
print(b)
print(c)
print(d)
print(e)

1
2
30
4
5

In [81]:
x=[1,2,3,4]
y=[5,6,7,8]

for x,y in zip(x,y):
    print(x,end=" ")
    print(y)

1 5
2 6
3 7
4 8

In [82]:
s={1,2,3,4}

In [83]:
print(s)
print(type(s))

{1, 2, 3, 4}
<class 'set'>

In [84]:
s={1,2,3,1,3,2}
print(s)

{1, 2, 3}

In [85]:
s1={1,2,3,4,5}
s2={3,4}

In [86]:
print(s1.intersection(s2))

{3, 4}

In [87]:
print(s1.union(s2))

{1, 2, 3, 4, 5}

In [88]:
print(s1.difference(s2))

{1, 2, 5}

In [89]:
import math

In [90]:
print(math.factorial(5))

120

In [91]:
from math import factorial

In [92]:
print(factorial(5))

120

In [93]:
from math import factorial as f

In [94]:
print(f(7))

5040

In [99]:
def fact(n):
    if n==0 or n==1:
        return 1
    print("its my custom fact function")
    return n*fact(n-1)

In [96]:
fact(5)

its my custom fact function
its my custom fact function
its my custom fact function
its my custom fact function

120

In [97]:
from math import factorial as fact

In [100]:
print(fact(5))

its my custom fact function
its my custom fact function
its my custom fact function
its my custom fact function
120

In [107]:
class Person:
    Total_count=0
    def __init__(self,name,age):
        self.name=name
        self.age=age
        Person.Total_count=Person.Total_count+1
    def showInfo(self):
        print("name is {} and age is {}".format(self.name,self.age))
    #def __str__(self):
    #    return  "hello"#"name is {} and age is {}".format(self.name,self.age)

In [108]:
p1=Person("A",20)

In [109]:
print(p1)

<__main__.Person object at 0x1092b8320>

In [110]:
p2=Person("B",25)
p2.showInfo()

name is B and age is 25

In [111]:
Person.Total_count

2

In [112]:
#commands to install libraries
#pip3 install numpy
#pip3 install matplotlib
#pip3 install pandas

In [113]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt