<center> <h1>Numerical Python (NumPy)</h1> </center><br><hr>

In [ ]:
#Links 
# https://jakevdp.github.io/PythonDataScienceHandbook/02.01-understanding-data-types.html
# Difference between numpy array and python list?

In [1]:
import numpy as np

## Creating 1D Arrays

In [2]:
l = [1,2,3]
x = np.array(l)
x

array([1, 2, 3])

In [3]:
type(1)

int

In [4]:
print(type(1))

<class 'int'>

In [5]:
y = np.array([4,5,6])
type(y)

numpy.ndarray

In [6]:
print(x.shape)
print(y.shape)
print(x.dtype)
y.dtype

(3,)
(3,)
int64

dtype('int64')

In [7]:
# What is difference between *args and **kwargs?
def f(a,b,c=0,d=1,*args, **kwargs):
    print(a,b)
    print(args)
    print(kwargs)

    
f(2,3,4,5,6,7,8,name='CB',age='5')

2 3
(6, 7, 8)
{'name': 'CB', 'age': '5'}

In [8]:
foo = np.array(['n','u','m','p','y'], dtype=np.str)
foo.dtype # {little-endian, unicode, 8-bit} 
                                            # https://docs.scipy.org/doc/numpy/reference/arrays.dtypes.html

dtype('<U1')

In [9]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
[1,2,3,4]

[1, 2, 3, 4]

In [11]:
n = np.arange(0, 30, 2) # create an array of numbers between [0,30) with an interval of 2
n
print(n.ndim)

1

In [12]:
o = np.linspace(0, 10, 9) # create an array of 9 elements between [0,10]. Decide the interval according to n
o

array([ 0.  ,  1.25,  2.5 ,  3.75,  5.  ,  6.25,  7.5 ,  8.75, 10.  ])

## Creating 2D Arrays

In [13]:
a = np.array([[1,2,3], [4,5,6], [7,8,9]])
print(a)
print(a.shape)

[[1 2 3]
 [4 5 6]
 [7 8 9]]
(3, 3)

In [14]:
a.ndim

2

In [15]:
q = np.ones((3,2))
q

array([[1., 1.],
       [1., 1.],
       [1., 1.]])

In [16]:
p = np.ones((3,2), int)
p

array([[1, 1],
       [1, 1],
       [1, 1]])

In [17]:
print(q.dtype)
print(p.dtype)

float64
int64

In [18]:
np.zeros((2,3))

array([[0., 0., 0.],
       [0., 0., 0.]])

In [19]:
np.eye((4),dtype=int) # Identity Matrix

array([[1, 0, 0, 0],
       [0, 1, 0, 0],
       [0, 0, 1, 0],
       [0, 0, 0, 1]])

In [20]:
print(np.diag(np.array([[1,2,3],[4,5,6],[7,8,9]]))) # Diagonal array
print(np.diag(p))

[1 5 9]
[1 1]

In [21]:
np.full((2,3), 10)

array([[10, 10, 10],
       [10, 10, 10]])

In [22]:
# samples are from continous random distribution
t1=np.random.random((2,3))
print(t1)
t1.shape

[[0.04626018 0.35230539 0.35834173]
 [0.62713071 0.23490339 0.88494418]]

(2, 3)

In [23]:
np.diag((10,99,44))

array([[10,  0,  0],
       [ 0, 99,  0],
       [ 0,  0, 44]])

In [24]:
t1=np.diag((10,99,44)).flatten()
print(t1)
t1.shape

[10  0  0  0 99  0  0  0 44]

(9,)

## Reshaping VS Resizing

In [25]:
n = np.arange(0,30,2)
n

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28])

In [26]:
n.shape

(15,)

In [27]:
l= n.reshape(3,5) # the product should match the number of total elements.It returns a copy.
print(l)
print(n)

[[ 0  2  4  6  8]
 [10 12 14 16 18]
 [20 22 24 26 28]]
[ 0  2  4  6  8 10 12 14 16 18 20 22 24 26 28]

In [28]:
o = np.linspace(0,10,9)
print(o)
l = o.resize(3,3) # Inplace as it will return None
print(l)
print(o)

[ 0.    1.25  2.5   3.75  5.    6.25  7.5   8.75 10.  ]
None
[[ 0.    1.25  2.5 ]
 [ 3.75  5.    6.25]
 [ 7.5   8.75 10.  ]]

### Stacking

In [29]:
np.stack([[1,2], [99,100], [-45, -47]], axis=1)#0)

array([[  1,  99, -45],
       [  2, 100, -47]])

In [30]:
np.vstack?
np.vstack([[1,2],[99,100],[-45,-47]])

array([[  1,   2],
       [ 99, 100],
       [-45, -47]])

In [31]:
np.hstack?
np.hstack([[1,2],[99,100],[-45,-47]])

array([  1,   2,  99, 100, -45, -47])

In [32]:
arr1=np.array([[1,2],[11,12]])
arr2=np.array([[3,4],[31,41]])
np.hstack((arr1,arr2))

array([[ 1,  2,  3,  4],
       [11, 12, 31, 41]])

In [ ]:
arr1

In [ ]:
arr3 = np.array([[1,11], [2,22], [3,33]])
arr4 = np.array([[2,22], [3,33], [4,44]])
np.vstack((arr3,arr4))

## Vectorized Operations

In [33]:
print("X:", x)
print("Y:", y)

X: [1 2 3]
Y: [4 5 6]

In [ ]:
# Pointwise / Elementwise
print("X+Y:", x+y)
print("X*Y:", x*y)
print("X/Y:", x/y)
print("X**Y:", x**y)

In [ ]:
# Multiplication with a scalar
print(np.array([1,2,3]) * 3, "-- array * 3")
print("VS")
print(np.array([1,2,3] * 3), "-- list * 3")
print("VS")
print(np.repeat([1,2,3], 3), "-- repeat method of numpy array")

In [ ]:
# Dot Product
x.dot(y)

In [ ]:
z = np.array([y, y**2])
z

## Transposing

In [ ]:
# Transpose
print(z.T)
print(z)

In [ ]:
print(z.shape, z.T.shape)

In [ ]:
l = [[1,2,3],[2,2,3],[9,0,8]]
q = np.array(l)
q

In [ ]:
q.argmax(axis=0)

### Type casting

In [ ]:
z.dtype

In [ ]:
z = z.astype('f') # Casting into another data type
print(z)
z.dtype

## 2D Axis

In [ ]:
a = np.array([-4,-3,-1,5,19])
b = np.array([[1,99,20,31],[-1,-24,37,-13],[-7,11,49,4]])

In [ ]:
print(a)
print('-'*20)
print(b)

In [ ]:
print(a)
print("Max:", a.max())
print("Min:", a.min())
print("Mean:", a.mean())
print("Std:", a.std())
print("Index of Max Value:", a.argmax())
print("Max Value", a[a.argmax()])
print("Index of Min Value:", a.argmin())

In [ ]:
b.shape

In [ ]:
b.flatten().shape

In [ ]:
print(b, end='\n\n')

print("Max:", b.max())
print("Min:", b.min())
print("Mean:", b.mean())
print("Std:", b.std())
print("Index of Max Value:", b.argmax()) # Returns position of the flattened
print("Index of Min Value:", b.argmin())

print('\n\n-- ALONG AXIS 0 --')
print("Max:", b.max(axis=0))
print("Min:", b.min(axis=0))
print("Mean:", b.mean(axis=0))
print("Std:", b.std(axis=0))
print("Index of Max Value:", b.argmax(axis=0)) # Returns position of the flattened
print("Index of Min Value:", b.argmin(axis=0))
print(b)
print('\n-- ALONG AXIS 1 --')
print("Max:", b.max(axis=1))
print("Min:", b.min(axis=1))
print("Mean:", b.mean(axis=1))
print("Std:", b.std(axis=1))
print("Index of Max Value:", b.argmax(axis=1)) # Returns position of the flattened
print("Index of Min Value:", b.argmin(axis=1))

## Indexing & Slicing
#### Slicing => Viewing

In [ ]:
a = np.arange(0,13,1)
a = a**2
# a = np.arange(13)**2
a

In [ ]:
a[0], a[4], a[0:3:2]

In [ ]:
a[::-1]

In [ ]:
a[-4:]

In [ ]:
a

In [ ]:
a[-5:0:-2]

In [ ]:
r = np.arange(36)
print(r)
r.resize((6,6))
r

In [ ]:
print(r[2,2]) # Second row, second column
print(r[2][2])
print(r[2])
'''
    Notice the ',' usage while indexing as compared to [][] usage to access multidimensional lists
'''

In [ ]:
r

In [ ]:
r[3:5, -2:]

In [ ]:
r[:2,3]

In [ ]:
# Every second element from the last row
r[-1, ::-2]

## Conditonal Indexing (Index Arrays)

In [ ]:
r

In [ ]:
verdict = r>30
print(r)
verdict

In [ ]:
greater_than_30 = r[verdict]
greater_than_30

In [ ]:
print(r)
print(verdict)
print((r>30).sum())
print((r[r>30]).sum())

In [ ]:
# Assigning the elements greater than 30 to a new value
r[r > 30] = 99
r

In [ ]:
r2 = r[:3, :3]
r2

In [ ]:
r2[0,0] = 100

In [ ]:
print(r)
r2

### + vs +=

In [ ]:
a = np.array([1,2,3,4])
b = a
a += np.array([1,1,1,1])  # inplace
print('a:', a)
print('b:', b)

In [ ]:
a = np.array([1,2,3,4])
b = a
a = a + np.array([1,1,1,1])
print('a:', a)
print('b:', b)

## Copying

In [ ]:
r2[:] = 0
r

In [ ]:
rc = r.copy()
rc

In [ ]:
rc[rc < 3] = 3

In [ ]:
rc

In [ ]:
r

## Iterating

In [ ]:
import random
print(random.randint(0,10))
test = np.random.randint(0, 10, (4,3))
test

In [ ]:
for row in test:
    print(row)

In [ ]:
for index in range(len(test)):
    print("Row {} is {}".format(index, test[index]))

In [ ]:
for i, row in enumerate(test):
        print("Row {} is {}".format(i, row))

In [ ]:
test2 = test**2
test2

In [ ]:
for i,j in zip(test, test2):
    print(i, '+', j, '=', i+j)

In [ ]:
list(zip(test, test2))

In [ ]:
list = list()
list()

In [ ]:
print(list)